* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  /* background-color: #FDA; */
  background-color: #FFF;
  font-family: 'Lora', serif;
  margin: 0;
}

#wrapper {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 0;*/
	position: relative;
  width: 80vm;
  width: 80vmin;
  height: auto;
  /*min-height: 100%;*/
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  font-size: 200%;
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 150%;
  font-size: 1.5em;
  word-wrap: break-word;
}

p.mission {
  margin-left: 4%;
  width: 93%;
  padding: 0px;
}

div {
  width: 98%;
  margin: auto;
  padding: 5px;
  z-index: 0;
  /* background-color: #FFFFFF; original plan - diy parallax using giant dda logo
  background-color: rgba(255, 255, 255, 0.6); */
  text-align: center;
}

div.logo {
  padding: 0;
  width: 99%;
}

div.mission {
  /*margin-top: 6%;*/
  text-align: left;
}

/*div.releases {
	display: flex;
	flex-flow: row-reverse wrap;
}*/

div.sidelines {
	position: fixed;
	top: 20%;
	width: 60%;
	/* width: 90vmin; */
	left: 20%;
	/* margin: 0 auto; */
	height: 60%;
	border-left: 2px solid #C76363;
	border-right: 2px solid #C76363;
	z-index: 0;
	pointer-events: none;
}

/* div.sidelines. */

@media screen and (max-width: 992px) {
	div.sidelines {
		display: none;
	}
}

@media only screen and (orientation: portrait) {
	div.sidelines {
		display: none;
	}
}

.release-desc {
  text-align: left;
  line-height: 200%;
}

hr {
  width: 50%;
}

img.release {
  width: 30%;
  margin: 1%;
  transition: filter 0.4s, opacity 0.4s;
  /* width: 49%; */
}

img.release:hover {
	filter: grayscale(70%);
	opacity: 0.7;
	/* background-color: #1c1c1c; */
}

img.logo {
  /* width: 85%; */
  /* height: 85%; */
  /* height: 100vh; */
  width: 100%;
}
